spring:
    mvc:
        view:
            prefix: /WEB-INF/views/
            suffix: .jsp
        static-path-pattern: /resources/static/**
    output:
        ansi:
            enabled: always
    devtools:
        livereload:
            enabled: true
    freemarker:
        cache: false
server:
    tomcat:
        uri-encoding: UTF-8
    servlet:
        encoding:
            charset: UTF-8